.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.message textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 0 0.2rem var(--gray-color);
  border-radius: 0.2rem;
}

.message span {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding-bottom: 0.6rem;
}

.message textarea:focus:not(:valid) {
  box-shadow: 0 0 0 0.2rem var(--danger-color);
}

.message textarea:focus:is(:valid) {
  box-shadow: 0 0 0 0.2rem var(--brand-color);
}

.submit {
  grid-column: 1 / 7 !important;
}
.submit button {
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: 0.2rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.submit button:hover {
  opacity: 0.9;
}
