.materials {
  background-color: var(--white-color);
  padding: 1rem;
  margin: 3.6rem 0;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0.1rem solid var(--gray-color);
}

.imageWrapper {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.imageWrapper img {
  object-fit: cover;
}

.tableContainer {
  overflow-x: auto;
}

.table thead th {
  background-color: var(--brand-color);
  color: var(--white-color);
  padding: 0.6rem;
  border: 1px solid var(--white-color);
}
.table tr,
.table td {
  text-align: center;
  padding: 0.6rem;
  font-size: 1.4rem;
}
.table tr td {
  border: 1px solid var(--white-color);
}
.table tr:nth-child(even) {
  background-color: var(--gray-color);
}

.price {
  letter-spacing: 0.1rem;
}
