.card {
  text-align: center;
  padding: 4rem;
  border: 0.1rem solid var(--gray-color);
  cursor: pointer;
}
.card h3 {
  padding-top: 1.4rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.card svg {
  font-size: 4rem;
}
