.card {
  text-align: center;
  padding: 4rem;
  box-shadow: 0 0 0 0.1rem var(--gray-color);
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.card:hover {
  box-shadow: 0 0 0 0.1rem var(--brand-color);
  transform: translateY(-1rem);
}

.card:hover svg {
  color: var(--brand-color);
}

.card h3 {
  padding-top: 1.4rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.card svg {
  font-size: 4rem;
  transition: all 0.2s ease-out;
}
