.notFound {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.notFound h1 {
  font-size: 2rem;
}
.notFound p {
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  line-height: 1.8;
}

.notFound p a:link,
.notFound p a:visited {
  color: var(--brand-color);
}

/* if 1 em = 16px [37.5em = 37.5 * 16 = 600px] */
@media only screen and (min-width: 37.5em) {
  .notFound {
    width: 50%;
  }
}
