.container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--white-color);
  border-bottom: 0.1rem solid var(--gray-color);
}
.nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  width: 100%;
  background-color: var(--white-color);
  padding: 2rem 1rem;
  top: 100%;

  transition: color 0.2s ease-in-out;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;

  border-bottom: 0.1rem solid var(--gray-color);
}

.navListActive {
  max-height: 100rem;
  opacity: 1;
  visibility: visible;
}

.callMe {
  font-size: 1.4rem;
  color: var(--white-color);
  letter-spacing: 0.08rem;
  transition: 0.3s all ease-out;
  cursor: pointer;
}

.activeMenu,
.menuItem:hover,
.navList a:hover,
.navList a:active {
  color: var(--brand-color);
}

.callMe {
  display: none;
  align-items: flex-end;
  transition: 0.3s all ease-out;
  gap: 0.6rem;
}

.menu {
  border: none;
  margin-left: auto;

  background-color: transparent;
  font-size: 3rem;
  /* color: var(--white-color); */
  cursor: pointer;
  height: 3rem;
}

.callMe:hover,
.callMe:active {
  opacity: 0.8;
}

.maniMenuList:hover .menuItem:hover svg {
  transform: rotate(180deg);
}

.menuItem {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menuItem svg {
  font-size: 1.6rem;
  transition-duration: 0.3s;
}

.submenu {
  background-color: var(--white-color);

  padding: 0rem;
  height: 0;

  position: relative;
  z-index: 11;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);

  transition: all 0.4s ease-in-out;
}

.maniMenuList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.maniMenuList a {
  font-size: 1.4rem;
}

.maniMenuList:hover .submenu,
.mainMenuList:focus-within .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(2rem);
  height: auto;
  padding-bottom: 1rem;
}

.submenu a:link,
.submenu a:visited {
  font-size: 1.2rem;
}

.submenu a:link:not(:last-child) {
  border-bottom: 0.1rem solid var(--brand-color);
}

.maniMenuList .submenu:hover ~ .menuItem:link,
.maniMenuList .submenu:hover ~ .menuItem:visited,
.maniMenuList .submenu:hover ~ .menuItem {
  color: var(--brand-color);
}

.maniMenuList .submenu:hover ~ .menuItem svg {
  transform: rotate(180deg);
}

.logo {
  position: relative;
  height: 40px;
  aspect-ratio: 75/32;

  margin: 1.6rem;
}

.menu {
  margin-right: 2rem;
}

/* if 1 em = 16px [25em = 25 * 16 = 400px] */
@media only screen and (min-width: 25em) {
  .callMe {
    display: flex;
    margin: 1.6rem;
  }
}

/* if 1 em = 16px [62.5em = 62.5 * 16 = 1000px] */
@media only screen and (min-width: 62.5em) {
  .submenu {
    padding: 1.8rem;
    position: absolute;
    margin-top: 1rem;
    height: auto;
  }

  .maniMenuList {
    display: flex;
    flex-direction: column;
  }

  .nav {
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    width: unset;
    gap: 4rem;
    position: relative;
    padding: 0;
    top: 0;

    border: none;

    max-height: 100rem;
    opacity: 1;
    visibility: visible;
  }
}
