.footer {
  border-top: 0.1rem solid var(--gray-color);
  background-color: var(--brand-color);
  padding: 4rem 0;
}

.footer > div {
  display: grid;
  gap: 2rem;
}

.card h1 {
  font-size: 2rem;
  padding-bottom: 1.4rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--white-color);
}

.imageWrapper {
  display: block;
  position: relative;
  height: 6rem !important;
  aspect-ratio: 75 / 32;
  /* background-color: var(--white-color); */
}

.yourImage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1.6rem;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  padding-top: 1rem;
}

.socialLinks span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid var(--gray-color);
  border-radius: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.2rem;
}

.contact span {
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  color: var(--white-color);
}

.contact a:link,
.contact a:visited {
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  color: var(--white-color);
  padding-left: 1rem;
}

.socialLinks svg {
  font-size: 2rem;
}

.usefulLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}
.usefulLinks a:link,
.usefulLinks a:visited {
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  transition: all 0.1s ease-in-out;
  color: var(--white-color);
  transition: all 0.1s ease-in-out;
}

.socialLinks svg,
.socialLinks svg {
  color: var(--white-color);
}

.usefulLinks a:active {
  color: var(--brand-color);
  letter-spacing: 0.1rem;
}

.location address {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--white-color);
}

@media (hover) {
  .socialLinks span:hover {
    background-color: var(--white-color);
  }

  .socialLinks span:hover svg {
    color: var(--brand-color);
  }

  .usefulLinks a:hover,
  .usefulLinks a:active {
    opacity: 0.8;
    letter-spacing: 0.1rem;
  }

  .contact a:hover,
  .contact a:active {
    opacity: 0.8;
    letter-spacing: 0.1rem;
  }
}

/* if 1 em = 16px [37.5em = 37.5 * 16 = 600px] */
@media only screen and (min-width: 37.5em) {
  .footer {
    padding: 6rem 0;
  }
  .footer > div {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* if 1 em = 16px [50em = 50 * 16 = 800px] */
@media only screen and (min-width: 50em) {
  .footer {
    padding: 8rem 0;
  }

  .footer > div {
    grid-template-columns: repeat(3, 1fr);
  }
}
